*
!tex/
!*.tex
!.gitignore
!**/*.jpg
!**/*.png
!*.sty
!*.bib
!images/
!code/
!*.c
!*.xml
!*.tex
!*.pdf
!documentation/
!documentation/2019/
!documentation/2020/
!presentation/
!presentation/2019/
!presentation/2020/
