*
!tex/
!*.tex
!.gitignore
!**/*.jpg
!**/*.png
!*.sty
!*.bib
!images/
!code/
!*.c
!*.xml
!documentation/
!documentation/2019/*
!documentation/2020/*
!documentation/*
!presentation/
!presentation/tex/
